.container{
    container-type: inline-size;
}
@container (inline-size){
    .field{
        height: 90cqmin; 
        width: 90cqmin;   
        position: absolute;
        z-index: 2;
    }
    .canvas{
        position: relative;
        z-index: 1;
        width: 90cqmin;
        height: 90cqmin;
    }
    .cell{
        border: 2px solid;
        font-size: 15cqmin;
        height: 30cqmin;
    }
    
    .empty{
        width: 100%;
        height: 100%;
        opacity: 0%;
        cursor: pointer;
    }
    .new{
        width: 60cqmin;
        border-radius: 0px;
        border: 2px solid;
        font-size: 3vh;
        cursor: pointer;
    }
    @media (min-width: 450px){
        .field{
            height: 60cqh;
            width: 60cqh;
        }
        .canvas{
            height: 60cqh;
            width: 60cqh;
        }
        .cell{
            font-size: 10cqh;
            height: 20cqh;
        }
        .new{
            width: 40cqh;
        }
    }
}